/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #34495e; /* Dark background for navbar */
    color: white;
  }
  
  /* Logo styling */
  .logo {
    font-size: 24px;
    color: white;
  }
  
  .logo span {
    color: #ffc107; /* Change the color of "Tracker" */
    font-weight: bold;
    margin-left: 5px; /* Add some spacing between "Expense" and "Tracker" */
  }
  
  /* Navigation links */
  .nav-links {
    display: flex; /* Use flexbox for nav links */
    list-style: none;
    align-items: center;
  }
  
  .nav-links a {
    padding: 10px 15px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ffc107;
    border-radius: 5px; /* Rounded corners on hover */
  }
  
  .nav-links button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #34495e; /* Dark background for navbar */
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .nav-links button:hover {
    background-color: #c0392b;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
    }
  
    .nav-links a,
    .nav-links button {
      margin-bottom: 10px;
    }
  }
  